.folders_panel .account_list {
	background: rgba(0, 0, 0, 0.5);
	border-bottom: none !important;
	margin-bottom: 0 !important;
	padding-bottom: 8px !important;

	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: #767676;
	}
	
	&.account_list_divided:after {
		margin-top: 20px;
	}

	.account_item {
		color: #fff;

		&:hover {
			color: #eee;
		}
	}

	.link_more_accounts {
		color: #ffffff !important;
		text-decoration: underline !important;
	}
}
